
	body{
				background-image:url('imagens/Set.png');
				background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: 100% 100%;
			}
			
			.fundo-nav{
				background-color: darkred;

			}
			#cabecalho{
				width: 900px;
				margin: 0 auto;
				margin-bottom:2%;
			}

			#topo{
				height: 100px;
				background:transparent;
				margin-bottom:2%;
			}

			#banner{
				height: 150px;
				background: transparent;
				margin-bottom:2%;
			}

			#avaliações{
				height: 135px;
				background: blue ;
				padding: 18px;
				margin-bottom: 10px;
			}

			#produtos{
				height: 350px;
				background: greenyellow;
				margin-bottom:2%;
			}

			#rodape{
				height: 350px;
				background: darkred;
				padding: 20px;
			}
  
		    .marca{
		        float:left;
		        margin-left:4%;
		        width:140px;
		        height:140px;
		        margin-top:5px;
		    }

		    .container{
				display: flex;
		        width:85px;
		        height:85px;
				float: left;
				
		    }

		    .titpro{
		    	color:black;
			    text-align:center;
		    }

		    .product{
		        float:left;
		        margin-left:4%;
		        width:130px;
		        height:170px;
		        margin-top:5px;
		    }

		     .sitero{
		       width:8%;
		       float:right;
		       margin-right:15px;
		    }

		    .sitero2{
		       width:75px;
		       float:right;
		       margin-right:15px;
		       height:70px;
		    }

		    .title{
				color: white;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 25px;
			}
			#info h3{
				color: white;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 120%;
				margin-left: 18px;
			}
			#info p{
				color: white;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 75%;
				margin-left: 18px;
			}

			#direit{
				color: white;
				font-size: 100%;
				text-align: right;
			
			}
			


		@media only screen and (max-device-width: 765px) {

			body{
				background-image:url('imagens/Set.png');
				background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: 100% 100%;
			}
			
			.fundo-nav{
				background-color: darkred;

			}
			#cabecalho{
				width: 900px;
				margin: 0 auto;
				margin-bottom:2%;
			}

			#topo{
				height: 100px;
				background:transparent;
				margin-bottom:2%;
			}

			#banner{
				height: 150px;
				background: transparent;
				margin-bottom:2%;
			}

			#avaliações{
				height: 135px;
				background: blue ;
				padding: 18px;
				margin-bottom: 10px;
			}

			#produtos{
				height: 1380px;
				background: greenyellow;
				margin-bottom:2%;
			}

			#rodape{
				height: 350px;
				background: darkred;
				padding: 20px;
			}
  
		    .marca{
		        float:left;
		        width:140px;
		        height:140px;
		        margin-top:5px;
		    }

		    .container p{
				display: flex;
		        width:105px;
		        height:105px;
				float: left;				
		    }

		    .titpro{
		    	color:black;
			    text-align:center;
		    }

		    .product{
		        float:left;
		        margin-left:9%;
		        width:330px;
		        height:370px;
		        margin: top 50px;
				margin-bottom: 3%;
			
		    }

		     .sitero{
		       width:8%;
		       float:right;
		       margin-right:15px;
		    }

		    .sitero2{
		       width:75px;
		       float:right;
		       margin-right:15px;
		       height:70px;
		    }

		    .title h1, h3{
				color: white;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 50px;
			}
			#info h3{
				color: white;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 120%;
				margin-left: 18px;
			}
			#info p{
				color: white;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 75%;
				margin-left: 18px;
			}

			#direit{
				color: white;
				font-size: 100%;
				text-align: right;
			
			}


			}
					