	
	body{
				background-image:url('imagens/Set.png');
				background-repeat: no-repeat;
			    background-attachment: fixed;
			    background-size: 100% 100%;
			}
			
			#cabecalho{
				width: 900px;
				margin: 0 auto;
				margin-bottom:2%;
			}

			#topo{
				height: 100px;
				background:transparent;
				margin-bottom:2%;
			}

			#banner{
				height: 150px;
				background: transparent;
				margin-bottom:2%;
			}

			#avaliações{
				height: 100px;
				background: blue ;
				margin-bottom:2%;
			}

			#produtos{
				height: 250px;
				background: greenyellow;
				margin-bottom:2%;
			}

			#rodape{
				height: 300px;
				background: darkred;
				padding: 50px 50px 15px;
			}
  
		    .marca{
		        float:left;
		        margin-left:4%;
		        width:140px;
		        height:140px;
		        margin-top:5px;
		    }

		    .rate{
		        float:left;
		        margin-left:5%;
		        width:225px;
		        height:85px;
		        margin-top:8px;
		    }

		    .titpro{
		    	color:black;
			    text-align:center;
		    }

		    .product{
		        float:left;
		        margin-left:4%;
		        width:130px;
		        height:170px;
		        margin-top:5px;
		    }

		     .sitero{
		       width:8%;
		       float:right;
		       margin-right:15px;
		    }

		    .sitero2{
		       width:75px;
		       float:right;
		       margin-right:15px;
		       height:70px;
		    }

		    #info{
				color: white;
			}

			#direit{
				color: white;
				float: right;
			}